body{
    background-image: url(Bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(245, 245, 55, 0.89);
}

h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: red;
}

Canvas {
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

